*.swp
*.swo
*.pyc
*.err
*.out
experiments/
*.egg-info
*.ipynb_checkpoints
**/__pycache__/
.coverage
htmlcov
.mypy_cache
.dmypy.json
.hypothesis
.envrc
.lvimrc
.DS_Store
.envrc
lightning_logs/
outputs/

/data/
tmp/
egoallo_checkpoint_*
egoallo_example_*
*.slurm
